<ul class="breadcrumb">
  <li>
    <%=  link_to "Flightboard",root_path %> <span class="divider">/</span>
  </li>
 
  <li>
  	About us /</span>
  </li>
  
</ul>


<h1>About us</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus risus vel magna pellentesque suscipit. Praesent magna eros, eleifend id pulvinar sed, gravida et leo. Suspendisse mattis quam ut felis gravida semper. Duis scelerisque porttitor facilisis. Aenean euismod sem ut augue lacinia auctor. Aliquam vehicula sagittis mi eu laoreet. Aenean in erat ligula, vitae feugiat erat. Aenean sapien felis, varius quis fringilla vitae, rhoncus eu justo. Nam convallis accumsan nunc, non tincidunt lacus commodo vel.</p>
cat
