// Place all the styles related to the candidates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.name{
font-size: 48px; 
}
#hd {
	font-size:25px;
	padding-top:15px;
	padding-bottom: 15px; border-bottom: 1px solid #ccc }