// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	background-color: #f7f7f7;
}
.forms{
	padding-top:13px;
}
.form_sign_in
{
	padding-top:10px;
	padding-bottom:10px;
	padding-left: 10px;
	padding-right: 10px;
	font-size:14px;
	margin-right:30px;
}
.button_signin,.button_signin:hover  {
   border: 1px solid #2a607c;
  background: url("bg_button.png") repeat;	
 
   padding: 10px 20px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #2a607c;
   font-size: 14px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
 
   }
