<div class="footercontainer">
	<div class="footercontent">
		<ul align="center">
			<li class="footerlist" style="display: inline;list-style-type: none;"><a class="email" href="mailto:crew@flightboard.ch"> Contact </a></li>
			<li class="footerlist" style="display: inline;list-style-type: none;"><a href="https://twitter.com/#!/flight_board" target="_blank"> Twitter </a></li>
			<li class="footerlist" style="display: inline;list-style-type: none;"><a href="/about"> About </a></li>
		</ul>
	</div>
</div>