<div class="row">

	<div class="span6">
		<div class="logotop">
	     	<%= image_tag("logo_top.png", :alt => "logo") %>
	     </div>
	</div>
	<div class="span6">
		<div class="userlogout">
			<%= link_to current_user.name, edit_user_registration_path(current_user), :class=>'userlogout'%> |  <%= link_to('Logout', destroy_user_session_path, :method=>'delete', :class =>'toplink') %>
		</div>
	</div>
</div>